/*-- reset code --*/
body{
	padding:0;
	margin:0;
	background-color:#ffffff;
	min-width: 1000px;
}

/*--title section --*/
section.title{
	padding: 0px 0;
	background: url(../images/titlebg.jpg) ;
	background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
	top: 0;
left: 0;
width:100%;
height:100%;
min-width: 1000px;
}

/*-- trigger section --*/
section.triggertitle{
	padding: 0px 0;
	background: url(../images/titlebg.jpg) ;
	background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
	top: 0;
left: 0;
width:100%;
height:100%;
min-width: 1000px;
}
section.my-trigger {
	padding:10px 0;
	background:url(../images/titlebg.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	min-width: 1000px;
}
section.my-trigger p.newstrigger{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}
section.my-trigger div.triggercontainer{
	margin:0 auto;
	margin-top: -100px;
	margin-bottom: 0px;
}
section.my-trigger div.notes{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 100px;
}
section.my-trigger p.subtext{
	font-family: '方正正黑简体';
	font-size: 9px;
	color: #fff2cd;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
}
/*-- /trigger section --*/



section.subtitle1{
	padding: 0px 0;
	background: url(../images/trial.jpg) ;
	padding-top: 50px;
	padding-bottom: 50px;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	min-width: 1000px;
}
section.mysub1 {
	padding-bottom: 120px;
	background:url(../images/trial.jpg) no-repeat;
    background-attachment: fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-position: center 0;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		min-width: 1000px;
}
section.mysub1 div.sub1text1{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
}
section.mysub1 p.sub1texta{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}
section.mysub1 div.echarts1title{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub1 div.container{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 0px;
}
section.mysub1 div.container1{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

section.mysub1 div.container{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

section.mysub1 div.echartscontainer2{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub1 div.sub1text4{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub1 p.sub1textc{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}
section.mysub1 p.sub1text{
	font-family: '方正正黑简体';
	font-size: 9px;
	color: #fff2cd;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
}
section.mysub1 div.sub1text5{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 0px;
}
section.mysub1 p.sub1textd{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}

section.subtitle3{
	padding: 0px 0;
	background: url(../images/finalbg.jpg) ;
	padding-top: 50px;
	padding-bottom: 50px;
	background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
	top: 0;
left: 0;
width:100%;
height:100%;
min-width: 1000px;
}
section.mysub3 {
	padding-bottom: 0px;
	background:url(../images/finalbg.jpg) no-repeat;
    background-attachment: fixed;
		background-size: cover;
	  -webkit-background-size: cover;
	  -o-background-size: cover;
	  background-position: center 0;
		top: 0;
	left: 0;
	width:100%;
	height:100%;
	min-width: 1000px;
}

section.mysub3 div.sub3text1{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
}
section.mysub3 div.sub3text4{
	margin:0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
}
section.mysub3 div.image{
	margin:0 auto;
	margin-top: 9px;
	margin-bottom: 0px;
}
section.mysub3 p.sub3texta{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}
section.mysub3 div.echarts5title{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub3 div.echartscontainer5{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
section.mysub3 p.sub3textb{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}
section.mysub3 div.sub3text2{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

/*--/title section --*/
section.subtitle2{
	padding: 0px 0;
	background: url(../images/第二张背景图.jpg) ;
	padding-top: 50px;
	padding-bottom: 50px;
	background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
	top: 0;
left: 0;
width:100%;
height:100%;
min-width: 1000px;
}
section.mysub2 {
	padding:0px 0;
	background:url(../images/第二张背景图.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
	top: 0;
left: 0;
width:100%;
height:100%;
min-width: 1000px;
}
section.mysub2 div.sub2text1{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
}
section.mysub2 p.sub2texta{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}
section.mysub2 div.echarts3title{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub2 div.echartscontainer3{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub2 div.sub2text2{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}
section.mysub2 p.sub2textb{
	font-family: '方正正黑简体';
	font-size: 18px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 2em;
	line-height: 40px;
}

section.mysub2 p.sub2textc{
	font-family: '方正正黑简体';
	font-size: 16px;
	color: #fff2cd;
	padding-right: 36px;
	padding-left: 36px;
	padding-top: 3.7px;
	padding-bottom: 3.7px;
	text-indent: 2em;
	line-height: 28px;
}

section.mysub2 div.echarts4title{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
section.mysub2 div.echartscontainer4{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 0px;
}

section.mysub2 div.sub2text5{
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 120px;
}

section.mysub2 div.container1{
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 50px;
}
section.musub2 div.img{
	margin:0 0;
}
section.mysub4 {
	padding:0px 0;
	background:url(../images/其他背景图.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
	top: 0;
left: 0;
width:100%;
height:100%;
min-width: 1000px;
}
/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.4) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  background-size:60%;
  border:1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #000;
  opacity: 1;
  border:1px solid #000;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/



.slide{/*设置播放器盒子slide的样式*/
        position: relative;
        margin:0px auto;
        width: 565px;
        height: 565px;
        text-align: center;
        font-family: Arial;
        color: #fff2cd;
        overflow: hidden;
    }
.slide ul{
        margin:0px 0;
        padding:0;
        width: 1695px;
        transition:all 0.5s;/*控制所有动画完成时间是0.5秒，即完成一次图片切换勇士0.5秒*/
    }
.slide li{
        float: left;
        width: 565px;
        height: 565px;
        list-style: none;
    }
.slide li:nth-child(1){/*:nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。*/
        background-image:url(images/drawings.png);/*设置背景颜色*/
    }
.slide li:nth-child(2){
		background-image:url(images/ceramics.png);/*设置背景图片*/
    }
.slide li:nth-child(3){
        background-image: url(images/jades.png);
    }
.slide input[name="sildeInput"]{
        display: none;
    }

.slide label[for^="sildeInput"]{/*包含sildeInput的，统一进行样式设置，这里即设置文字123的统一样式*/
        position: absolute;
        top:510px;
        height: 40px;
        margin: 0 282.5px;
        line-height: 40px;
        color: ##fff2cd;
        cursor: pointer;
				font-size: 16px;
    }
.slide label[for^="sildeInput"]:hover{
		color:##fff2cd;/*控制鼠标悬浮在文字上时，文字颜色变为红色*/
		}

@keyframes marginLeft{/*以百分比来规定改变发生的时间，0% 是动画的开始时间，100% 动画的结束时间。*/
        0%，28.5%{margin-left: 0px;}
        33.3%，62%{margin-left: -565px;}
        66.7%，95.2%{margin-left: -1130px;}
        100%{margin-left: 0;}
    }

/*控制三个文字的样式*/
.slide label[for="sildeInput1"]{
        left: 0;
    }
.slide label[for="sildeInput2"]{
        left: 40px;
    }
.slide label[for="sildeInput3"]{
        left: 80px;
    }

/*当点击按钮文字时2，控95制ul显示的内容*/
#sildeInput1:checked ~ ul{ margin-left: 0px;}
#sildeInput2:checked ~ ul{ margin-left: -565px;}
#sildeInput3:checked ~ ul{ margin-left: -1130px;}
